Package: gmenu2x
Version:
Description: GMenu 1X, 2X, 3X (...) NX: GMenu2X-Miyoo is a fork of GMenuNX developed for the RetroFW and is currently aimed at MiyooCFW
Replaces: gmenu2x
Section: frontends
Priority: optional
Maintainer: Apaczer
Architecture: arm
Homepage: https://github.com/TriForceX/MiyooCFW
Source: https://github.com/MiyooCFW/gmenu2x
